/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "scss/bootstrap";
@import "scss/animate";
@import "scss/owl.carousel.min";

// Colors
$grey: #b1b1b1;
$dark_grey: #121516;
$light_grey: #e3e3e3;
$but_grey: #c8c8c8;
$blue: #1079c6;
$light_blue: #7eb5dd;
$red: #ec2d2d;
$foot_bg: #1f1f1f;
$hr: #4f4f4f;
$purple: #760867;
$green: #00a14b;
$yellow: #f0b926;
$dark_blue: #11476e;



body {
	margin: 0;
	font-family: 'MyriadPro-Regular';
}
*{
	transition: all .5s ease;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.wrapper{
	background: $dark_grey;
	min-height: 500px;
}

#logo a{
	&:hover{
		text-decoration: none;
	}
}

.header {
	background-color: $dark_grey;
}

.header_right {
	text-align: right;
}

.header_right a {
	display: inline-block;
	border: 1px solid $white;
	font-size: 17px;
	line-height: 23px;
	height: 30px;
	color: $white;
	font-family: 'MyriadPro-Regular';
	margin-left: 10px;
	padding: 3px 30px;
	border-radius: 4px;
	transition: all .5s ease;
	font-weight: 400;
	text-decoration: none;

	&:hover {
		background: $blue;
		border: solid 1px $blue;
		color: $white;
		text-decoration: none;
	}

	&.sign_in {
		background: $light_grey;
		color: $dark_grey;
		padding: 4px 23px;
		&:hover {
			background: $blue;
			border: solid 1px $blue;
			color: $white;
			text-decoration: none;
		}
	}

}

select {
	font: 400 15px/22px MyriadPro-Regular;
	-webkit-appearance: none;
	-ms-appearance: none;
	color: $white;
	background: url(../img/svg/sort-down.svg) no-repeat 100% 28%;
	background-size: 9px;
	border: 0;
	padding: 0px 15px 2px;
	-moz-appearance: none;
	cursor: pointer;
	outline: none;
	position: relative;

	& option {
		border: 0;
		margin: 0;
		background: $white;
		color: $dark_grey;
	}

}

.navbar {
	padding: 0px;
	margin-top: 20px;
}

.navbar-nav {
	& li {
		& a.nav-link {
			font-size: 13px;
			font-family: 'Myriad Pro';
			color: $grey;
			&:hover{
				color: $white;
			}
			& span{
				background: $red;
			    border-radius: 10px;
			    position: absolute;
			    top: 0;
			    margin-left: 38px;
			    color: $white;
			    font-size: 9px;
			    line-height: 15px;
			    width: 33px;
			    height: 15px;
			    text-align: center;
			}
		}

	}

	& li:first-child a {
		padding-left: 0px !important;
	}

	& li.active a {
		font-weight: bold;
	}

}

.show-on-hover {
	& .dropdown-menu {
		float: none;
		border: 0;
		background-color: $white;
		margin: 0;
		padding: 16px 20px;

		& a {
			color: #131416;
			line-height: 18px;
			font-size: 13px;
			display: block;
			margin: 5px 0;
			&:hover{
		    	color: $light_blue;
		    	text-decoration: none;
		    }
		}

	}

}

.show-on-hover:hover > .dropdown-menu {
	display: block;
}

#SupportService{
	text-decoration: none;
    color: $but_grey;
    font-size: 14px;
    font-family: "Myriad Pro";
    padding: 0;
    background: transparent;
    border: 0;
    cursor: pointer;
    &:hover{
    	color: $light_blue;
    }
}

// HOME PAGE

.red {
	background: $red;
}
.purple {
	background: $purple;
}
.green {
	background: $green;
}
.yellow {
	background: $yellow;
}
.dark_blue {
	background: $dark_blue;
}

.home_block{
	font-size: 11.38px;
	color: $white;
    display: flex;
    justify-content: center;
    transition: all 0.4s ease-out;
    padding: 0 5px;
    & a{
    	display: flex;
	    align-content: center;
	    align-items: center;
	    width: 100%;
	    height: 187px;
	    text-align: center;
	    justify-content: center;
	    font-size: 11.38px;
		color: $white;
		margin: 20px 0px;
		&:hover{
			text-decoration: none;
			transform: scale(1.05);
		}
    }
}

.logo-carousel{
	width: 64px;
    height: 58px;
    overflow: hidden;
    display: inline-block !important;
    vertical-align: middle;
    position: relative;
}

video { 
    position: absolute;
    top: 50%;
    margin-top: -425px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    // background: url('../img/polina.jpg') no-repeat;
}
.video_home{
	    height: 560px;
    overflow: hidden;
    position: relative;
    
 &:before{
	 	content: '';
	 	background: -moz-linear-gradient(top, rgba(18,21,22,1) 0%, rgba(18,21,22,1) 8%, rgba(18,21,22,0.84) 43%, rgba(18,21,22,0.73) 78%, rgba(18,21,22,0.76) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(18,21,22,1) 0%,rgba(18,21,22,1) 8%,rgba(18,21,22,0.84) 43%,rgba(18,21,22,0.73) 78%,rgba(18,21,22,0.76) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(18,21,22,1) 0%,rgba(18,21,22,1) 8%,rgba(18,21,22,0.84) 43%,rgba(18,21,22,0.73) 78%,rgba(18,21,22,0.76) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#121516', endColorstr='#c2121516',GradientType=0 ); 
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top:0;
		left:0;
		z-index: 2;
 	}
}

// LEFT BAR

.search-input {
    position: relative;
    margin: 10px auto;
}

.search {
    width: 100%;
    padding: 6px 15px;
    color: #333;
    border: 1px solid #33485b;
    border-radius: 5px;
}
.search-submit-btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40px;
    margin: 0;
    border: 0;
    border-radius: 5px;
    background-color: transparent;
    outline: none !important;
    & img{
    	width: 15px;
    }
}

.left-bar .accordion-heading .accordion-toggle.sport-filter-outer {
    margin: 1px;
    padding: 6px 10px 8px;
}

.accordion-heading {
	position: relative;
	& .accordion-toggle {
	    font-size: 16px;
	    font-variant: small-caps;
	    display: block;
	    margin: 3px 0;
	    margin-top: 10px;
	    margin-bottom: 5px;
	    padding: 10px 15px;
	    padding: 9px 15px 11px;
	    color: #fff;
	    border: 1px solid #202b35;
	    border-radius: 10px;
	}
} 

.caret-down {
	display: inline-block;
    float: right;
    margin-top: 7px;
    width: 15px;
    height: 15px;
    z-index: 100;
}

.categories-heading {
    font-size: 18px;
    font-size: 20px;
    font-weight: bold;
    font-variant: small-caps;
    margin: 0;
    margin-bottom: 2px;
    padding: 12px 15px;
    letter-spacing: 2px;
    color: #fff;
    color: #fff;
    border: 1px solid #202b35;
    border-radius: 10px;
    background-color: #0c1720;
}

/*checkbox-style*/

.checkbox {
    position: absolute;
    z-index: 100;
    top: 8px;
    right: 10px;
    margin-top: 0;
    padding: 15px;
}

.left-bar .checkbox {
    padding: 0 15px;
}

.left-bar .checkbox input {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

.league-item .checkbox {
    top: 3px;
}

.checkbox input {
    position: relative;
    width: 28px;
    height: 28px;
    margin: 20px auto;
    background: #fcfff4;
    box-shadow: inset 0 1px 1px white, 0 1px 3px rgba(0, 0, 0, .5);
}

.checkbox label {
    position: absolute;
    top: 7px;
    right: 10px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: 1px solid #33485b;
    box-shadow: inset 0 0 20px 20px #0c1720;
    margin-bottom: 0;
    &:after {
	    position: absolute;
	    top: 1px;
	    left: 1px;
	    width: 12px;
	    height: 12px;
	    content: '';
	    opacity: 0;
	    background: #ffd54f;
	    box-shadow: inset 0 1px 1px white, 0 1px 3px rgba(0, 0, 0, .5);
	}
}



.checkbox label:hover::after {
    opacity: .5;
}

.left-bar input[type=checkbox] {
    visibility: hidden;
}

.checkbox input:checked+label:after {
    opacity: 1 !important;
}

.league-item .checkbox label {
    top: 0;
    width: 13px;
    height: 13px;
}

.checkbox label,
.radio label {
    min-height: 0;
    padding-left: 0;
}

.league-item .checkbox label:hover::after {
    opacity: .5;
    background-color: #ffd54f;
}

.league-item .checkbox label:after {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 9px;
    height: 9px;
    content: '';
    opacity: 0;
    background: #ffd54f;
    box-shadow: inset 0 1px 1px white, 0 1px 3px rgba(0, 0, 0, .5);
}


/*endof checkbox*/

// Main bar
.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}


a.bet-link {
    display: inline-block;
    width: 100%;
    height: 37px;
    padding: 0 5px;
    transition: 0s !important;
    text-align: left;
    color: $white !important;
}
.game-details{
	color: $white;
}

.league-item{
	position: relative;
}

// Sidebar Funct

.sidebar-func {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: -230px;
    width: 225px;
    height: 100%;
    padding: 0;
    cursor: pointer;
    background-color: rgba(12, 23, 32, .8);
    box-shadow: -2px 0 10px 3px #000;
}
.sidebar-func.active {
    right: 0;
}
.betslip-tg {
    position: absolute;
    top: 115px;
    left: -170px;
    width: 170px;
    height: 60px;
    padding: 0 10px;
    cursor: pointer;
    border-radius: 20px 0 0 20px;
    background-color: #ffd54f;
}
.sidebar-inner {
    overflow-y: scroll;
    height: 100vh;
}
.betslip-hd {
    font-size: 18px;
    font-weight: 700;
    font-variant: small-caps;
    line-height: 56px;
    text-align: center;
}
.betslip-hd i {
    font-size: 36px;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
    float: left;
    margin-top: 10px;
    padding: 2px;
    transition: all 0s;
    transition: .5s;
    color: #ffd54f;
    border-radius: 20px;
    background-color: #333;
    align-items: center;
}

.upper-filter-item {
    display: inline-block;
    min-width: auto;
    margin: 0 -2px;
    padding: 5px 7px;
    border: 1px solid transparent;
}
.center{
	text-align: center;
}

.iframe_bl {
	& iframe{
		width: 762px;
	    margin: 0 auto;
	    display: block;
	}
}

.stream-nav{
	display: flex;
    padding-bottom: 3px;
    text-align: center;
    border-bottom: 0!important;
    justify-content: center;
    align-items: center;
    & li{
    	margin: 0;
    	padding: 0;
    	width: 135px;
    	& a {
    		padding: 15px 20px;
    		display: block;
    		position: relative;
    		& img{
    			margin-bottom: 3px;
    			width: 32px;
    			height: 32px;
    		}
    		& p {
    			margin: 0;
    		}
	    }
	    &.active, &:hover, &:focus{
			box-sizing: border-box;
		    border-radius: 5px;
		    background-color: transparent;
		    & a{
		    	text-decoration: none;
			    border-radius: 5px;
			    background-color: rgba(0,0,0,.5);
		    }
	    }
	    
    }
}

// FOOTER


.footer {
    background: $foot_bg;
    padding: 59px 0;
    & p {
    	font-size: 14px;
    line-height: 16px;
    color: $grey;
    font-weight: 400;
    display: block;
    padding: 15px 0 7px;
	    &.footer-infos{
	    	text-align: justify;
	    }
    }
}
.footer ul{
	padding: 0;
}
.menu_footer > li{
	display: inline-block;
	vertical-align: top;
	width: 19%;
	&:nth-child(3) {
	    width: 27%;
	}
	&:nth-child(4) {
	    width: 23%;
	}
	&:nth-child(5) {
	    width: 10%;
	}
	& > a{
		display: block;
	    color: $grey;
	    text-transform: capitalize;
	    font-size: 15px;
	    line-height: 17px;
	    font-weight: 400;
	    cursor: pointer;
	}
	& h2 {
	    color: $white;
	    text-transform: capitalize;
	    font-size: 15px;
	    line-height: 17px;
	    font-weight: 700;
	    font-family: 'MyriadPro-Bold';
	    display: block;
	    padding-bottom: 20px;
	}
	& > ul > li{
		display: inline-block; 
		vertical-align: top;
		width: 49%;
		& > a{
			display: block;
		    color: $grey;
		    text-transform: capitalize;
		    font-size: 15px;
		    line-height: 17px;
		    font-weight: 400;	
		    cursor: pointer;
		}
	}
}
ul.payment_card{
	list-style: none;
    margin: 41px 0 38px;
    padding: 32px 0;
    border-top: 1px solid $hr;
    border-bottom: 1px solid $hr;
	& li {
		display: inline-block;
		vertical-align: middle;
		width: 6.76%;
		& a img{
			max-width: 100%;
			height: auto;
		}
	}
}
.eighteen{
	    display: inline-block;
    width: 50px;
    height: 50px;
    vertical-align: top;
    margin-top: -65px;
    border: 1px solid #ffdd5c;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: $white;
    font-weight: 500;
    background: #1f2120;
    float: right;
}

.social_icon{
	list-style: none;
	text-align: right;
	& li{
		display: inline-block;
		margin: 0 5px;
	}
}
.sport_book{
	margin-top:20px;
}
.certificates {
	text-align: right;
}
#top-link-block {
	background: $blue;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    z-index: 100;
    & a{
    	color: $white;
    }
}

.commandbox_in_menu {
    position: relative;
    overflow: hidden;
    margin: 2.5% 2.5%;
    padding: 0;
    border: 2px solid #46637f;
    border-radius: 5px;
    background-color: #152029;
}
.statistics {
    position: absolute;
    top: 4px;
    left: 0px;
    background-color: transparent;
    z-index: 999;
    border-bottom: 1px solid #46637f;
    margin-top: -4px;
}
.commandbox_in_menu .commandbox_in_box {
    font-size: 13px;
    z-index: 1;
    display: block;
    padding: 3px 20px;
    text-align: center;
    color: #fff;
    background-color: #203748;
}
.active.commandbox_in_menu .commandbox_in_box {
    padding: 8px 20px;
    text-decoration: none;
}
.commandbox_in_menu .commandbox_staticbox {
    padding: 3px 5px;
    border-top: 1px solid #46637f;
    border-radius: 0;
    background-color: #203748;
}
.commandbox_in_menu.active .commandbox_staticbox {
    display: block;
    padding: 8px 5px;
}
.multiview_btn {
    display: none;
    position: absolute;
    top: 4px;
    left: 50%;
    margin-left: -30%;
    transition: .5s;
    width: 60%;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    z-index: 999;
    text-align: center;
    padding-top: 0px !important;
}
.commandbox_in_menu .betslps_num {
    font-size: 12px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    padding: 1px 6px;
    color: #fff;
    border: 1px solid #203748;
    border-top: 0;
    border-right: 0;
    border-radius: 10px 0 0 0;
    background-color: #152029;
}
.commandbox_time {
    font-size: 12px;
    font-variant: small-caps;
    margin: auto;
    display: table;
}
.header-of-panel {
    margin: 0;
    margin-top: 3px;
    & a {
	    font-variant: small-caps;
	    display: block;
	    margin-bottom: 1px;
	    padding: 8px 25px;
	    color: #fff;
	    border: 1px solid #33485b;
	    border-radius: 5px;
	    background-color: #0c1720;
	    text-decoration: none;
	}
}


.teamone_betslipbox {
    font-size: 12px;
    font-style: italic;
    overflow: hidden;
    margin: 0;
    padding: 5px;
    word-spacing: 5px;
    color: #fff;
    border: 1px solid #0c1720;
    border-top: 2px solid #33485b;
    border-radius: 5px;
    background-color: #203748;
}
.panel-betslips-inner{
	padding: 0 15px;
	& .col{
		padding: 0;
	}
}


// Responsive

@media (max-width: 991px) {
	.logo-carousel {
	    width: 60px;
	    height: 55px;
	}
	.header .navbar{
		min-height:40px;
	}
	button.navbar-toggler-right{
		z-index: 100;
    	background: #038dd1;
    	cursor: pointer;
    	outline: none;
	}
	.navbar-nav li a.nav-link{
		position: relative;
	}
	.footer ul.menu_footer{
		display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-flex-direction: row;
	    -ms-flex-direction: row;
	    flex-direction: row;
	    -webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    -webkit-justify-content: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    -webkit-align-content: center;
	    -ms-flex-line-pack: center;
	    align-content: center;
	    -webkit-align-items: flex-start;
	    -ms-flex-align: start;
	    align-items: flex-start;
	}
	.menu_footer > li {
	    width: 33%;
	    margin-bottom: 20px;
	    &:nth-child(4) {
		    width: 33%;
		}
		&:nth-child(5) {
		    width: 27%;
		}
	}
	ul.payment_card li {
    	width: 10%;
	}
}

@media (max-width: 767px) {
	.logo-carousel {
	    display: block !important;
	    margin: 0 auto;
	}
	.header_right a{
		padding: 3px 20px;
		&.sign_in {
		    padding: 4px 10px;
		}
	}
	.header_right select{
		padding: 0px 10px 2px;
	}
}















