<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div id="logo"><a href="">
          <span class="owl-carousel logo-carousel">
            <div><img src="img/logo_1.png"></div>
            <div><img src="img/logo_1.png"></div>
          </span>
        <img src="img/logo_big.png" alt="Betadonis Ставки на спортивные события в прямом эфире" title=""></a></div>
      </div>
      <div class="col-sm-8 my-auto header_right">
        <a href="#" class="sign_in">Войти</a>
        <a href="#" class="registration">Регистрация</a>
        <select>
          <option value="en" class="en-lang">ENGLISH</option>
          <option value="tr" class="tr-lang">TÜRKÇE</option>
          <option value="ru" class="ru-lang" selected="">РУССКИЙ</option>
          <option value="de" class="de-lang">DEUTSCH</option>
          <option value="sv" class="sv-lang">SVENSKA</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <nav class="navbar navbar-toggleable-md">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Спортивные Ставки</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Live-Спорт</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Виртуальный Спорт</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Казино</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Казино3D</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Live Казино</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Казино Evolution</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Покер</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">бинго <span>Новые</span></a>
              </li>
            </ul>
            <div class="btn-group my-2 my-lg-0">
              <div class="dropdown show-on-hover">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="SupportService" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Служба поддержки
                </button>
                <div class="dropdown-menu" aria-labelledby="SupportService">
                  <a href="#">Отправить сообщение</a>
                  <a href="#">ЧАВО</a>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>