<footer class="footer">
	<div class="footer_main">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="title_foot">Payments metod</div>
					<ul class="payment_card">
						<li>
							<a href="http://www.visa.com" target="_blank" rel="nofollow"><img src="img/svg/visa.svg" /></a>
						</li>
						<li>
							<a href="https://www.mastercard.com" target="_blank" rel="nofollow"><img src="img/svg/masterCard.svg" /></a>
						</li>
						<li>
							<a href="https://www.qiwi.com" target="_blank" rel="nofollow"><img src="img/svg/webMoney.svg" /></a>
						</li>
						<li>
							<a href="https://www.astropaycard.com" target="_blank" rel="nofollow"><img src="img/svg/skrill.svg" /></a>
						</li>
						<li>
							<a href="http://www.maestrocard.com" target="_blank" rel="nofollow"><img src="img/svg/qiwi.svg" /></a>
						</li>
						<li>
							<a href="https://www.skrill.com" target="_blank" rel="nofollow"><img src="img/svg/neteller.svg" /></a>
						</li>
					</ul>
					<a href="#" class="more">and more...</a>
					<div class="copyright"><span>Sportsbook<br> services provided by</span> <a href="http://www.allcomponent.com" target="_blank" class="allcomponent"><img src="img/allcomponent-1.png"></a></div>
				</div>
				<div class="col-md-6">
					<ul class="menu_footer">
						<li>
							<h2>Our Content</h2>
							<a href="#">Sports Betting</a>
							<a href="#">Live Betting</a>
							<a href="#">Virtual Betting</a>
							<a href="#">Live Scores</a>
							<a href="#">Casino</a>
							<a href="#">Casino3D</a>
							<a href="#">Live Casino</a>
							<a href="#">Casino Evolution</a>
							<a href="#">Bet On Poker</a>
							<a href="#">Bingo</a>
						</li>
						<li>
							<h2>Link</h2>
							<a href="#">About Betadonis</a>
							<a href="#">Terms & Conditions</a>
							<a href="#">Responsible Gaming</a>
							<a href="#">Privacy Policy</a>
							<a href="#">Account Verification</a>
							<a href="#">Affiliates</a>
							<a href="#">Bonuses</a>
							<a href="#">VIP Status</a>
						</li>
						<li>
							<h2>Help & Support</h2>
							<a href="#">FAQ</a>
							<a href="#">Contact Us</a>
							<a href="#">Complaints</a>
						</li>
					</ul>
				</div>
				<div class="col-md-3">
					<div class="title_foot">We are social:</div>
					<ul class="social_icon">
						<li>
							<a href="https://www.facebook.com/betadonis.com.info" target="_blank" rel="nofollow"><img src="img/svg/facebook.svg"></a>
						</li>
						<li>
							<a href="https://twitter.com/@betadoniscom" target="_blank" rel="nofollow"><img src="img/svg/twitter.svg"></a>
						</li>
						<li>
							<a href="https://www.linkedin.com/company/@betadonis.com1" target="_blank" rel="nofollow"><img src="img/svg/linkedin.svg"></a>
						</li>
						<li>
							<a href="https://plus.google.com/betadonis" target="_blank" rel="nofollow"><img src="img/svg/vk.svg"></a>
						</li>
						<li>
							<a href="#" target="_blank" rel="nofollow"><img src="img/svg/youtube.svg"></a>
						</li>
						<li>
							<a href="#" target="_blank" rel="nofollow"><img src="img/svg/instagram.png"></a>
						</li>
					</ul>
					<div class="title_foot">We are certified:</div>
					<div class="certificates">
						<a target="_blank" id="apg-seal-link" href="https://validator.antillephone.com/validate?domain=www.betadonis.com&amp;seal_id=d6ef8805-6ce5-472a-93bf-dc0b362b9b8d">
							<img src="img/agp.png">
						</a>
						<a href="http://www.askgamblers.com/online-casinos/betadonis-casino-review/" target="_blank" rel="nofollow">
							<img src="img/ask.png">
						</a>
						<a href="https://latestcasinobonuses.com/casinos/betadonis" target="_blank" rel="nofollow">
							<img src="img/lcb.png">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer_second">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<span class="eighteen">18 +</span>
					<p>COPYRIGHTS © 2010-2017, ALL RIGHTS RESERVED. BETADONIS.COM</p>
					<p class="footer-infos">BetAdonis is a brand name owned by ALLCOMPONENT N.V., a company registered and established under the laws of Curacao, which has an agreement with AntillePhone N.V for its gaming license(#8048/JAZ2015-027).Registration Number is 136053 and its registered address is at E- Commerce Park Vredenberg Willemstad ,Curacao. BIZPAY INTERNATIONAL LTD is the payment processer and a subsidiary of ALLCOMPONENT N.V. registered in Malta with registered address Floor 5, 115 A, Msida Valley Road, Birkirkara, BKR 9024, MALTA.</p>
				</div>
			</div>
		</div>
	</div>
</footer>