<script src="js/tether.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/scripts.js"></script>

<script type="text/javascript">
    Modernizr.load([

        //owl carousel
        {
            test: $('.logo-carousel').length > 0,
            yep: ["js/owl.carousel.min.js"],
            callback: {
                "js/owl.carousel.min.js": function() {

                    jQuery(".logo-carousel").owlCarousel({
                        animateOut: 'flipInY',
                        animateIn: 'flipInY',
                        items: 1,
                        smartSpeed: 900,
                        loop: true,
                        autoplay: true
                    });

                }
            }
        },
        //owl carousel
        {
            test: $('.slider_registr').length > 0,
            yep: ["js/owl.carousel.min.js"],
            callback: {
                "js/owl.carousel.min.js": function() {

                     var owl = $('.slider_registr');

                    owl.owlCarousel({
                        items: 1,
                        smartSpeed: 900,
                        loop: true,
                        nav: true,
                        autoplay: false
                    });
                        // add animate.css class(es) to the elements to be animated
                      function setAnimation ( _elem, _InOut ) {
                        // Store all animationend event name in a string.
                        // cf animate.css documentation
                        var animationEndEvent = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';

                        _elem.each ( function () {
                          var $elem = $(this);
                          var $animationType = 'animated ' + $elem.data( 'animation-' + _InOut );

                          $elem.addClass($animationType).one(animationEndEvent, function () {
                            $elem.removeClass($animationType); // remove animate.css Class at the end of the animations
                          });
                        });
                      }

                    // Fired before current slide change
                      owl.on('change.owl.carousel', function(event) {
                          var $currentItem = $('.owl-item', owl).eq(event.item.index);
                          var $elemsToanim = $currentItem.find("[data-animation-out]");
                          setAnimation ($elemsToanim, 'out');
                      });

                    // Fired after current slide has been changed
                      owl.on('changed.owl.carousel', function(event) {

                          var $currentItem = $('.owl-item', owl).eq(event.item.index);
                          var $elemsToanim = $currentItem.find("[data-animation-in]");
                          setAnimation ($elemsToanim, 'in');
                      })

                }
            }
        },

    ])
</script>